<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>gov.nist</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>startup</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.StartupServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>startup</servlet-name>
		<url-pattern>/startup/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetConnection</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.SetConnectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetConnection</servlet-name>
		<url-pattern>/SetConnection</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetInterval</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.SetIntervalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetInterval</servlet-name>
		<url-pattern>/SetInterval</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadConfigurationScript</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.LoadConfigurationScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadConfigurationScript</servlet-name>
		<url-pattern>/load</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveConfigurationScript</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.SaveConfigurationScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveConfigurationScript</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadEvr</servlet-name>
		<servlet-class>gov.nist.policyserver.servlets.SaveConfigurationScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadEvr</servlet-name>
		<url-pattern>/api/evr/LoadEvr</url-pattern>
	</servlet-mapping>
</web-app>
